.login {
  position: relative;
  padding-top: 112px;
  padding-left: 350px;
  padding-right: 350px;
  height: calc(100vh - 106px - 331px);
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.leftBox {
  height: 129px;
  display: flex;
  flex-direction: column;
}

.leftHeader {
  color: #ffffff;
  font-family: Titillium Web;
  font-size: 60px;
  font-weight: 400;
  line-height: 91.26px;
}

.leftWelcome {
  color: #aaaaaa;
  font-family: Titillium Web;
  font-size: 24px;
  font-weight: 400;
  line-height: 36.5px;
  text-align: top;
}

.right {
  background: #ffffff;
  width: 481px;
  height: 468px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightHeader {
  color: #1d2528;
  margin: 38px;
  font-family: Titillium Web;
  font-size: 32px;
  font-weight: 600;
  line-height: 48.67px;
  text-align: left;
}

.login-input {
  padding-left: 11px;
  margin-bottom: 24px;
  border: 0.7px solid #1d2528;
  width: 388px;
  height: 52px;
  border-radius: 10px;
  font-family: Titillium Web;
  font-size: 20px;
  font-weight: 400;
  line-height: 30.42px;
  text-align: left;
  color: #1d2528;
}

.input:focus {
  border: 4px solid #1d252866;
}

.falseInput {
  padding-left: 11px;
  border: 1.5px solid #dd0000;
  width: 388px;
  height: 52px;
  border-radius: 10px;
  font-family: Titillium Web;
  font-size: 20px;
  font-weight: 400;
  line-height: 30.42px;
  text-align: left;
  color: #1d2528;
}

.falseInput:focus {
  border: 4px solid #1d252866;
}

.errorEmail {
  margin: 0px;
  margin-bottom: 12px;
  align-items: left;
  width: 388px;
  height: 18px;
  color: #dd0000;
  font-family: Titillium Web;
  font-size: 12px;
  font-weight: 400;
  line-height: 18.25px;
}

.errorPassword {
  margin: 0px;
  align-items: left;
  width: 388px;
  height: 18px;
  color: #dd0000;
  font-family: Titillium Web;
  font-size: 12px;
  font-weight: 400;
  line-height: 18.25px;
}

.forget {
  position: absolute;
  right: 206px;
  top: 362px;
  height: 18px;
  font-family: Titillium Web;
  font-size: 12px;
  font-weight: 400;
  line-height: 18.25px;
  text-align: left;
  color: #1d2528;
}

.loginButton {
  background: #1d2528;
  width: 388px;
  height: 52px;
  border-radius: 10px;
  margin-top: 20px;
  font-family: Titillium Web;
  font-size: 20px;
  font-weight: 400;
  line-height: 30.42px;
  text-align: center;
  color: #ffffff;
}

.signup {
  margin-top: 65px;
  height: 23px;
  font-family: Titillium Web;
  font-size: 15px;
  font-weight: 300;
  line-height: 22.82px;
  text-align: center;
  display: flex;
}
