.noticeBox {
  padding-top: 42.5px;
  padding-right: 20px;
  width: 850px;
  height: 120px;
  border-bottom: 1px solid silver;
  display: flex;
  flex-direction: column;
  position: relative;
}

.notice-content {
  flex-grow: 1;
  cursor: pointer;
}

.noticeTitle {
  color: #fff;
  font-family: "Titillium Web";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: fit-content;
  margin-bottom: 2px;
}

.noticeTitle:hover {
  text-decoration: underline;
}

.noticeSubBox {
  display: flex;
  position: relative;
}

.dateAuthor {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Titillium Web";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 4px;
}

.likeMessage {
  padding-top: 20px;
  margin-left: auto;
  position: absolute;
  bottom: 8px;
  right: 0px;
  display: flex;
  align-items: center;
}

.likeButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  margin-right: 15px;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.likeButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.likeImg,
.messageImg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.likeCount,
.messageCount {
  color: #fff;
  font-family: "Titillium Web";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  vertical-align: top;
}

.messageWrapper {
  display: flex;
  align-items: center;
}