.div {
  box-sizing: border-box;
}

.noticeBackground {
  border-top: 1px solid silver;
  height: 55vw;
  padding-top: 50px;
  padding-left: 71px;
  background: #1d2528;
}

.title {
  color: #fff;
  font-family: "Titillium Web";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.add {
  content: "+";
  width: 70px;
  height: 70px;
  position: fixed;
  right: 62px;
  bottom: 43px;
}

.add {
  width: 70px;
  height: 70px;
}

.add:hover {
  cursor: pointer;
}
