.background {
  padding-top: 95px;
  background: 1d2528;
  display: flex;
  justify-content: center;
}

.subBackground {
  width: 846px;
  gap: 0px;
  opacity: 0px;
  background: #d9d9d903;
}

.components {
  display: flex;
}

.icon {
  width: 30px;
  height: 30px;
  top: 183px;
  left: 214px;
}

.text {
  padding-left: 5px;
  font-family: Titillium Web;
  font-size: 20px;
  font-weight: 400;
  line-height: 30.42px;
  text-align: left;
  color: #ffffff;
}

.title {
  font-family: Titillium Web;
  font-size: 60px;
  font-weight: 600;
  line-height: 91.26px;
  text-align: center;
  color: #ffffff;
  display: flex;
}

.date {
  display: flex;
  font-family: Titillium Web;
  font-size: 30px;
  font-weight: 400;
  line-height: 45.63px;
  text-align: center;
  color: #ffffff;
}

.author {
  font-weight: 600;
  text-align: center;
  margin-bottom: 80px;
}

.img {
  width: 846px;
  height: 477px;
}

.body {
  margin-top: 54px;
  margin-bottom: 112px;
  width: 846px;
  font-family: Titillium Web;
  font-size: 25px;
  font-weight: 400;
  line-height: 38.03px;
  text-align: left;
  color: #ffffff;
}

.line {
  width: 846px;
  border: 1px 0px 0px 0px;
  border: 1px solid #ffffff80;
}

.input {
  display: flex;
  flex-direction: column;
}
.inputfields {
  background: rgba(0, 0, 0, 0);
  padding: 15px;
  width: 846px;
  height: 137px;
  border-radius: 8px;
  border: 1.5px solid #ffffff;
  font-family: Titillium Web;
  font-size: 20px;
  font-weight: 400;
  line-height: 30.42px;
  color: #ffffff;
}

.submit {
  margin-left: 705px;
  margin-top: 18px;
  width: 141px;
  height: 40px;
  border-radius: 8px;
  font-family: Titillium Web;
  font-size: 20px;
  font-weight: 600;
  line-height: 30.42px;
  text-align: center;
  background: #d9d9d9;
  margin-bottom: 5px;
}

.list {
  margin-top: 72px;
  margin-bottom: 79px;
  font-family: Titillium Web;
  font-size: 20px;
  font-weight: 400;
  line-height: 30.42px;
  text-align: right;
  color: #ffffff;
}
