.navigation-link {
    position: relative;
  }
  
  .navigation-link::after {
    content: "";
    height: 2.5px;
    width: 115%;
    background-color: white;
    position: absolute;
    left: -5px;
    bottom: -5px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
  }
  
  .navigation-link:hover::after,
  .navigation-link:focus::after {
    opacity: 1;
  }
  